<div class="cropImages">
    <div class="cropImages__image">
        <img src="{{img}}" alt="">
        <div class="preview">
            <img src="{{img}}" alt="">
        </div>
    </div>
    <div class="cropImages__text">Область для просмотра профильной фотографии</div>
    <div class="cropImages__buttons">
        <div class="button__safe">Сохранить</div>
        <div class="button__reset">Отмена</div>
    </div>
</div>