<div class="uploadPhoto" style="display:none;">
   <div class="uploadPhoto__header">Загрузка фото</div>
   <div class="uploadPhoto__content">
       <div class="uploadPhoto__upload"></div>
       <input type='file' id="upload" />
      <img src="#" id="upload-img" alt="image" />
       <div class="uploadPhoto__description">
           <div class="uploadPhoto__name">Пользователь</div>
           <div class="uploadPhoto__status">онлайн</div>
       </div>
   </div>
</div>